---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <section>
      <h1>Contact</h1>
      <p>
        You can reach me at <a href="mailto:angel@romerobaez.com"
          >angel@romerobaez.com</a
        >
      </p>
    </section>
  </main>
</Layout>

<style>
  section {
    max-width: 584px;
    margin: 0 auto;
    width: 100%;
  }
</style>
