---
import Layout from "../layouts/Layout.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
import Links from "../components/Links.astro";
import DarkLightThemeSwitch from "../components/DarkLightThemeSwitch.astro";
---

<Layout>
  <main>
    <div class="layout-links">
      <DarkLightThemeSwitch />
      <ProfilePicture />
      <Links />
    </div>
  </main>
</Layout>
