---
import Layout from "../layouts/Layout.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Links from "../components/Links.astro";
import DarkLightThemeSwitch from "../components/DarkLightThemeSwitch.astro";
---

<Layout>
  <header>
    <DarkLightThemeSwitch/>
  </header>
  <main>
    <ProfilePicture/>
    <SocialLinks />
    <Links/>
  </main>
</Layout>
