---
import { links } from "../data/userData.js";
---

<section class="links-container">
  {
    links.map((link) => (
      <a href={link.url} class="link" target="_blank" rel="noopener">
        <>
          <span>{link.label}</span>
        </>
      </a>
    ))
  }
  <p class="small">
    Built by me. Use my code for your own site. <a
      href="https://github.com/baezor/allmylinks"
      target="_blank"
      rel="noopener">Download the source code</a
    >.
  </p>
</section>

<style>
  .links-container {
    margin-top: 32px;
  }
  .small {
    font-size: 12px;
    text-align: center;
    margin-top: 16px;
    font-weight: 500;
    a {
      color: var(--text-color);
      text-decoration: underline;
    }
  }
  .link {
    text-align: center;
    display: flex;
    gap: 3rem;
    margin-bottom: 16px;
    justify-content: center;
    align-items: center;
    hyphens: auto;
    white-space: normal;
    padding: 1rem 2rem;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    border-radius: 14px;
    overflow-wrap: break-word;
    word-break: break-word;
    padding-left: 66px;
    padding-right: 66px;
    appearance: none;
    min-height: 64px;
    transition: transform 0.15s cubic-bezier(0, 0.2, 0.5, 3);

    &&:hover {
      transform: scale(1.02);
      background-color: rgb(0 0 0 / 0.8);
    }
    &&:active {
      transform: scale(1.02);
      background-color: rgb(0 0 0 / 0.8);
    }
  }

  :global(.dark) .boton {
    background: transparent;
    border: solid 2px var(--border-color);
    color: aqua;
  }
  :global(.dark) .boton:hover {
    background: rgb(179, 156, 255);
    background: radial-gradient(
      circle,
      rgba(179, 156, 255, 1) 0%,
      rgba(124, 25, 252, 1) 100%
    );
    color: black;
  }
</style>
