---
import { Image } from "astro:assets";
import { userData } from "../data/userData.js";
const profilePhoto = userData[0].userPic;
---

<div class="profile-top">
  <div class="mb-4">
    <Image
      id="profile-picture"
      width="96"
      height="96"
      src={profilePhoto}
      alt="A description of my image."
    />
  </div>
  {
    userData.map((data) => (
      <>
        <h1 class="profile-name">{data.userName}</h1>
        <h2 class="profile-subtitle">{data.userDesc}</h2>
      </>
    ))
  }
</div>

<style>
  .profile-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-name {
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -0.4px;
  }
  .profile-subtitle {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
  }
  #profile-picture {
    border-radius: 50%;
    width: 96px;
    height: 96px;
    overflow: hidden;
    margin-bottom: 16px;
    display: block;
    object-fit: contain;
    object-position: initial;
    filter: none;
  }
</style>
