---
import { Image } from "astro:assets";
import { userData } from "../data/userData.js";
const profilePhoto = userData[0].userPic;
---

<div class="profile__banner">
  <div id="img__container" class="img__container photo">
    <Image
      width="150"
      height="150"
      src={profilePhoto}
      alt="A description of my image."
    />
  </div>
  {
    userData.map((data) => (
      <>
        <h1>{data.userName}</h1>
        <p>{data.userDesc}</p>
      </>
    ))
  }
</div>

<style>
  .profile__banner {
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 22dvh;
    height: auto;
    flex-direction: column;
    padding-top: 3rem;
    gap: 0.5rem;
    h1 {
      font-size: 2.25rem;
      font-weight: 800;
      margin: 1rem 0 0 0;
      color: var(--text-bold-color);
    }
    p {
      font-size: 1.6rem;
      margin: 0.25rem 0 1.5rem 0;
      color: var(--button-hover);
    }
  }

  :global(.dark) .profile__banner {
    h1 {
      color: var(--secundary-color);
    }
  }

  .img__container {
    border-radius: 50%;
    border: 4px solid var(--border-color);
    width: 12.5rem;
    height: 12.5rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .photo {
    background-color: white;
  }
  :global(.dark) .photo {
    border: 3px solid aqua;
  }
</style>
