---
import { Icon } from "astro-icon/components";
import { socialLinks } from "../data/userData";
---

<div class="social">
  {
    socialLinks.map((i) => (
      <a href={i.url}>
        {i.label}
        <span>{i.icon && <Icon name={`${i.icon}`} />}</span>
      </a>
    ))
  }
</div>
<style>
  .social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    max-width: 295px;
  }
  .iconify {
    color: rgb(92, 92, 92);
    transition: color 0.4s ease;
    &&:hover {
      color: var(--button-flat);
    }
    &&:active {
      color: var(--button-active);
    }
  }
  :global(.dark) .iconify {
    color: var(--cards);
  }
</style>
